Signed in as @<%= cookies.signed[:username] %>.
<%= link_to 'Change', root_path %>
<br/>
<br/>

<div id='messages'></div>

<br/>
<br/>

<%= form_for @message, remote: true do |f| %>
  <%= f.label :body  %><br/>
  <%= f.text_field :body %><br/>
  <%= f.submit 'Send' %>
<% end %>

